# 02-mongo-db.yml
apiVersion: v1
kind: Service
metadata:
  name: mongo-db  # This is the DNS name other pods will use to find Mongo
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:latest  # Pulls from Docker Hub
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db  # Mount the persistent volume
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-data-claim  # Use the storage we created
